node_modules/
dist/
target/
**/target/
.DS_Store
.local/
*.keystore
*.jks
.env*
src-tauri/gen/android/.gradle/
src-tauri/gen/android/**/build/
src-tauri/gen/android/local.properties
src-tauri/gen/android/.idea/
src-tauri/gen/android/app/src/main/jniLibs/
**/build/
**/.tauri/
**/.gradle/
src-tauri/gen/schemas/
